	<br><p> You must be signed in to grab this amazing deal! </p><br>


	 <button class = "uk-button uk-button-successs regular-font"><%=link_to("Sign In", new_user_session_path) %></button><br><br>
	 <p>No Account? No problem</p><br>

	 <button class = "uk-button uk-button-primary regular-font"><%= link_to("Create New Account",new_user_registration_path)%></button>