#background{
	background-image: url(asset-path("earth.jpg"));
	background-repeat: no-repeat;
	height: auto;
}



.panel {
    width: 300px;
    height: 300px;
    margin: auto;
    position: relative;
}
 
.card {
    width: 100%;
    height: 100%;
    -o-transition: all 1.5s;
    -ms-transition: all 1.5s;
    -moz-transition: all 1.5s;
    -webkit-transition: all 1.5s;
    transition: all 1.5s;
    -webkit-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
    top: 0px;
    left: 0px;
}
 
.front {
    z-index: 2;
    opacity: 0.6;
}
 
.back {
  
    -webkit-transform: rotateX(-180deg);
    -ms-transform: rotateX(-180deg);
    -moz-transform: rotateX(-180deg);  
    transform: rotateX(-180deg);  
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 8px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 8px rgba(0,0,0,0.3);
  position: relative;
  z-index: 90;
}
 
.panel:hover .front {
    z-index: 1;
    -webkit-transform: rotateX(180deg);
    -ms-transform: rotateX(180deg);
    -moz-transform: rotateX(180deg);
    transform: rotateX(180deg);
}
 
.panel:hover .back {
    z-index: 2;   
    -webkit-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
        -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
        transform: scale(1.1);
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
    -moz-box-shadow: 0 10px 20px rgba(0,0,0,.7);
        box-shadow: 0 10px 20px rgba(0,0,0,.7);
}

h3{
	bottom: 290px;
	margin-left: 10px;
	margin-bottom: 40px;
	position: relative;
	/*z-index: 3;*/
	color: #fff;
}

button{
	position: relative;
}

img{
	height:300px;
	width: 300px;
}

video{
	width: 300px;
	height: 300px;
	z-index: 3;
	opacity: 1;
}

.ribbon-wrapper-green {
  width: 85px;
  height: 88px;
  overflow: hidden;
  position: absolute;
  top: -3px;
  right: -3px;
}

.ribbon-green {
  font: bold 15px Sans-Serif;
  color: #333;
  text-align: center;
  text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
  position: relative;
  padding: 7px 0;
  left: -5px;
  top: 15px;
  width: 120px;
  background-color: #BFDC7A;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#BFDC7A), to(#8EBF45)); 
  background-image: -webkit-linear-gradient(top, #BFDC7A, #8EBF45); 
  background-image:    -moz-linear-gradient(top, #BFDC7A, #8EBF45); 
  background-image:     -ms-linear-gradient(top, #BFDC7A, #8EBF45); 
  background-image:      -o-linear-gradient(top, #BFDC7A, #8EBF45); 
  color: #6a6340;
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
  cursor: pointer;
}

.ribbon-green:before, .ribbon-green:after {
  content: "";
  border-top:   3px solid #6e8900;   
  border-left:  3px solid transparent;
  border-right: 3px solid transparent;
  position:absolute;
  bottom: -3px;
  cursor: pointer;
  cursor: pointer
}

.ribbon-green:before {
  left: 0;
}
.ribbon-green:after {
  right: 0;
  cursor: pointer;
}


.header{
	text-align: center;
	 color: rgba(185,244,34,0.6);
    text-shadow: 2px 2px 3px rgba(255,255,255,0.1);
}


/*############################################### Trip Page ###########################################*/

.img_div{
  box-shadow:inset 0 0 100px rgba(0,0,20,.7), 0 5px 15px rgba(0,0,0,.5);
  background:-webkit-linear-gradient(top, rgba(255,145,0,0.2) 0%,rgba(255,230,48,0.2) 60%), -webkit-linear-gradient(20deg, rgba(255,0,0,0.5) 0%,rgba(255,0,0,0) 35%);
  width:auto; height:auto; 

}

.trip_page{
 height: 660px;
 width: 985px;
  -webkit-filter:sepia(0.2) brightness(1.1) contrast(1.3);
  transition:-webkit-filter 0.3s ease-in-out;
  position:relative; z-index:-1;
}

@font-face {
    font-family: 'honey_scriptlight';
    src: url('/assets/honeyscript-light-webfont.eot');
    src: url('/assets/honeyscript-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/honeyscript-light-webfont.woff') format('woff'),
         url('/assets/honeyscript-light-webfont.ttf') format('truetype'),
         url('/assets/honeyscript-light-webfont.svg#honey_scriptlight') format('svg');
    font-weight: 900;
    font-style: normal;

}

@font-face {
    font-family: 'honey_scriptsemibold';
    src: url('/assets/honeyscript-semibold-webfont.eot');
    src: url('/assets/honeyscript-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/honeyscript-semibold-webfont.woff') format('woff'),
         url('/assets/honeyscript-semibold-webfont.ttf') format('truetype'),
         url('/assets/honeyscript-semibold-webfont.svg#honey_scriptsemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

.greeting_div{
  /*position:absolute;*/

}

.greeting_div_2{


}

.greetings{
  font-family: 'honey_scriptsemibold';
  position: relative;
  bottom: 675px;
  color: red;
  font-size: 8em;
  transform:rotate(-25deg);
  -ms-transform:rotate(-25deg);  /*IE 9 */
  -webkit-transform:rotate(-25deg); /* Safari and Chrome */
}

.stamp{
  height: 100px;
  width: 100px;
  left: 1320px;
  float: right;
  margin-left: 360px;
}

.trip_information{
  margin-top: 200px;
}


.trip_information p{
  font-family: 'honey_scriptsemibold';
  text-decoration: underline;
  font-size: 3em;
}

.sign-in p{
  font-family: times;
  font-size: 2em;
  text-decoration: none;
  line-height: 30px;


}
form input[type="submit"] {
    cursor:pointer;
    background:url('/assets/submit.png') no-repeat;
    width:445px;
    height:86px;
    border:none;
    text-indent:-9999px;
    position:relative;

    bottom:10px;
}

form input[type="submit"]:hover {

    background-position:0 -86px;
}

.error_message_ul{
  list-style: none;
  color: red;
}

