<nav class="uk-navbar">
	<ul class= "uk-navbar-nav">
		<li class = "uk-actve"><a href="/">Home Page</a></li>
		<li class = "uk-actve"><a href="">Account</a></li>
		<li class = "uk-actve"><a href="">About Us</a></li>
	</ul>
</nav>

